@import "./common/variables.scss";
@import "./common/scaffolding.scss";
@import "./common/variables.scss";
@import "./common/mixins.scss";

.page-header {
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  /*align-items: center;*/
  height: 85px;
}

.page-header__logo-image {
  width: 226px;
  height: 85px;
}

@media (min-width: $tablet-width) {
  .page-header {
    background-color: #000000
  }

  .page-header__logo {
    order: 2;

    width: 100%;
    height: 400px;

    background-color: #000000;
    background-image: url("../img/back-tablet.jpg");
    background-repeat: no-repeat;
    background-position: center -9px;
  }

  .page-header__logo-image {
    display: block;
    height: auto;
    width: 370px;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {
    height: 648px;

    background-image: url("../img/back-desktop.jpg");
    background-position: center 0;
    background-size: cover;
  }

  .page-header__logo img {
    margin-top: 57px;
  }
}
