@import "./common/variables.scss";
@import "./common/scaffolding.scss";
@import "./common/variables.scss";
@import "./common/mixins.scss";

.site-nav {
  @include list-reset;
}

.site-nav__item {
  background-color: $light-brown;
  border-bottom: 1px solid #71543f;
}

.site-nav__link {
  display: block;
  padding: 13px 21px;

  line-height: 24px;
  font-weight: bold;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: inset 0 1px 1px 0 rgba(136, 110, 91, 1);

  &[href]:active {
    color: rgba($white, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .site-nav {
    display: flex;
    width: 570px;

    .site-nav__item {
      margin-right: 32px;
      background: none;
      border: none;

      &:last-child {
        margin-right: 0;
      }
    }

    .site-nav__link {
      box-shadow: none;
      padding: 0;
      padding-top: 24px;
      padding-bottom: 23px;
      letter-spacing: 0.12px;

      &[href]:hover {
        color: $light-brown;
      }

      &[href]:active {
        color: rgba($white, 0.3);
      }

      &--active {
        position: relative;

        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 3px;
          bottom: -2px;
          left: 0;

          background-color: $light-brown;
        }
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .site-nav {
    width: 800px;

    .site-nav__item {
      margin-right: 0;
      padding-left: 31px;
      padding-right: 33px;

      &:hover {
        background-color: $white;
      }
    }

    .site-nav__link {
      padding-left: 0;
      padding-right: 0;

      &:hover,
      &[href]:hover {
        color: $black;
        background-color: $white;
      }

      &[href]:active {
        color: rgba($black, 0.3);
      }
    }
  }

  .site-nav__item:hover > .site-nav__link {
    color: $black;
  }
}



/*.site-nav {
  font-weight: bold;
}

.site-nav a {
  display: block;
  padding: 12px 21px 13px;

  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #826550;
  border-top: 1px solid #886e5b;
  border-bottom: 1px solid #71543f;
}

.site-nav a[href] {
  &:hover {
    background-color: #755a46;
    border-top-color: #755a46;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #6a4d38;
    border-top-color: #6a4d38;
  }
}

@media (min-width: $tablet-width) {

  .site-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    width: 570px;
  }

  .site-nav__item {
    margin-right: 32px;

    &:last-child {
      margin-right: 0;
    }

    &--active {
      position: relative;

      &::after {
        content: "";

        position: absolute;
        right: 0;
        bottom: -3px;
        left: 0;

        height: 3px;

        background: #826550;
      }
    }
  }

  .site-nav__item a {
    padding: 25px 0 23px;

    background: none;
    border: none;
  }

  .site-nav__item a[href] {
    &:hover {
      color: #826550;

      background-color: #000000;
    }

    &:active {
      color: #ffffff;

      background-color: #000000;
      opacity: 0.3;
    }
  }
}

@media (min-width: $desktop-width) {

  .site-nav {
    width: 780px;
  }

  .site-nav__item {
    margin-right: 0;

    &--active::after {
      right: 30px;
      left: 30px;
    }
  }

  .site-nav__item a {
    padding-right: 31px;
    padding-left: 31px;
  }

  .site-nav__item a[href] {
    &:hover {
      color: #000000;

      background-color: #ffffff;
    }

    &:active {
      color: rgba(0, 0, 0, 0.3);

      background-color: #ffffff;
      opacity: 1;
    }
  }
}*/

/*.site-nav {
  font-weight: bold;
}

.site-nav a {
  display: block;
  padding: 12px 21px 13px;
  
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  
  background-color: #826550;
  border-top: 1px solid #886e5b;
  border-bottom: 1px solid #71543f;
}

.site-nav a[href] {
  &:hover {
    background-color: #755a46;
    border-top-color: #755a46;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #6a4d38;
    border-top-color: #6a4d38;
  }
}

@media (min-width: $tablet-width) {
  .site-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    width: 570px;
  }

  .site-nav__item {
    margin-right: 32px;

    &:last-child {
      margin-right: 0;
    }

    !*&:active {
      position: relative;

      &::after {
        content: "";

        position: absolute;
        right: 0;
        bottom: -3px;
        left: 0;

        height: 3px;
        background: #826550;
      }
    }*!
  }

  .site-nav__item a {
    padding: 25px 0 23px;

    background: none;
    border: 0;
  }

  .site-nav__item a[href] {
    &:hover {
      color: #826550;

      background-color: #000000;
    }

    &:active {
      color: #ffffff;

      background-color: #000000;
      opacity: 0.3;
    }
  }
}

@media (min-width: $desktop-width) {
  .site-nav {
    width: 780px;
  }
}*/

